[*.cs]

# SA1134: Each attribute should be placed on its own line of code
dotnet_diagnostic.SA1134.severity = none

# SA1202: 'public' members should appear before 'private' members
dotnet_diagnostic.SA1202.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = warning

# SA1500: Braces for multi-line statements should not share line
dotnet_diagnostic.SA1500.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = suggestion

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = suggestion